{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizador</title>
    <link rel="stylesheet" href="{% static 'main.css' %}"></link>
</head>
<body>
    <main>
        <h1>Cursos</h1>
        <section>
            {% for course in courses %}
            <p>{{course.name}}</p>
            <p>{{course.github_url}}</p>
            <p>{{course.gitbook_url}}</p>
            {% endfor %}
        </section>
    </main>
</body>
</html>